.Chooser{
    background: lightblue;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
}
.Container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    grid-gap: 25px;
    will-change: width, height;
    cursor: pointer;
}
.Item{
    will-change: transform, opacity;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Chooser__selectedItem{
    padding: 1rem;
}